@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Brunson";
  src: url("../../fonts/brunson.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  z-index: 1;
  color: #ffffffe1;
  background-color: #121212 ;
  font-family: "Brunson";
}

video#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

header {
  font-size: 3rem;
  letter-spacing: .05em;
}

.home-header, .header-video, .main-header, .welcome {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.header-video {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.video-base  {
  text-align: center;
}

.video-base .video-bg {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.video-base h1 {
  letter-spacing: .5rem;
  font-size: 4rem;
}

.video-base .main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-25%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.video-base .main-title p, .main-base, .main-photo {
    font-family: Arial, Helvetica, sans-serif;
}

.errorfont {
  font-family: 'Brunson', sans-serif;
}

div > a.logo {
  display: inline-block;
  transition: transform 0.2s ease;
}

div > a.logo:hover {
  transform: scale(.95);
}

nav.home-nav {
  font-size: 3rem;
  letter-spacing: 0.05em;
  line-height: 5vh;
}

nav.main-nav li a {
  opacity: .4;
}

nav.home-nav li a {
  opacity: 1;
  transition: opacity 0.2s ease;
}

nav.home-nav:has(li a:hover) li a:not(:hover) {
  opacity: .4;
}

nav li a:hover, nav.main-nav li a.active {
  opacity: 1;
}

nav.main-nav {
  font-size: 1.5rem;  
  letter-spacing: .05em;
  line-height: normal;
}

nav.main-nav li a {
  transition: color 0.2s ease, background-color 0.2s ease;
  padding: .5rem 1rem;
  border-radius: 2px;
}

nav.main-nav ul {
  border-color:#ADADAD;
}

.main-base, .main-photo {
  margin: 7rem 5rem 2rem;
}

footer {
  letter-spacing: .05em;
  line-height: normal;
}

.footer-base {
  border-top: 1px solid #ADADAD;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.footer-base div{
  display: flex;
  gap: 2em;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  align-self: center;
  text-align: center;
}

#legal, #privacy-policy, #presentation {
  font-family: Arial, Helvetica, sans-serif;
}

#legal a, #privacy-policy a, #presentation a  {
  color: cyan;
}

div#title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
  font-family: 'Brunson';
  letter-spacing: .1rem;
}

.welcome {
  font-size: 4rem;
}

#menu-overlay li a {
  display: block;
}

#menu-overlay li a {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity .8s ease, transform .8s ease;
  transition-delay: calc(var(--i, 0) * 120ms);
}

.main-title h1, form, .title-galery, #lightbox-content {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity .8s ease, transform .8s ease;
}

.main-title p, #contact, #lightbox-video {
  opacity: 0;
  transform: translateX(-150px);
  transition: opacity .8s ease, transform .8s ease;
}

.presentation-grid img {
  opacity: 0;
  transition: opacity 1s ease
}

.presentation-grid img.visible {
  opacity: 1;
}

.main-title h1.visible, .main-title p.visible, form.visible, #contact.visible, .title-galery.visible, #menu-overlay li a.visible, #lightbox-video.visible, #lightbox-content.visible {
  opacity: 1;
  transform: translateX(0);
}

.main-base h2 {
  font-size: 2.25rem;
  font-weight: bold;
}

.main-base h3, .main-photo h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3.title-galery {
  font-size: 4rem;
  margin-top: 5rem;
  display: inline-block;
}

#menu-overlay {
  position: fixed;
  top: 0;
  opacity: 0;
  left: -100vw;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.97);
  transition: left .3s ease-in-out, opacity .3s ease ;
  z-index: 999;
}

#menu-overlay.open {
  left: 0;
  opacity: 1;
}

body.overflow-hidden {
  overflow: hidden;
}

#menu-overlay nav {
  pointer-events: none;
}

#menu-overlay nav * {
  pointer-events: auto; 
}

.lightbox-title {
  font-size: 2rem;
  letter-spacing: .2rem;
  text-align: center;
}

.lightbox-date {
  margin: 0 0 1rem 0;
}

.lightbox-desc, .contact{
  font-family: Arial, Helvetica, sans-serif;
}

.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: .2em;
}

.presentation-grid {
display: grid;
grid-template-columns: 1fr;
grid-row-gap: 2em;
text-align: center;
}

.presentation-grid img {
  max-width: 100%;
  height: auto;
}

.item {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity .8s ease, transform .8s ease;
}

.item.visible {
  opacity: 1;
  transform: translateY(0);
}

.item img{width:100%;}

@media (min-width: 768px) {
  .header-video {
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 2rem 0 2rem;
  }
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 2rem 0;
  }
  footer.footer-base {
    flex-direction: column;
    justify-content: center;
  }
  .video-base h1 {
    font-size: 9rem;
  }
  .presentation-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 8em;
    column-gap: 2em;
  }  
}

@media only screen and (min-width: 321px) and (max-width: 768px){

  .main-base, .main-photo {
    margin: 5rem 2rem 2rem;
  }

  .footer-base {
    max-width: 100vw;
  }
  .footer-base div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .lightbox {
    flex-direction: column;
  }
  .lightbox>div {
    margin: 0;
  }
}

@media (max-width: 900px){
  .home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}