{% extends 'partials/base.html.twig' %}
{% block main %}
<main class="main-base overflow-x-hidden">
    <section id="presentation">
        <h1 class="text-5xl">{{ page.title }}</h1>
        <div class="mt-16">{{ page.content|raw }}
        </div>
    </section>

    <div class="isolate px-6 py-24 sm:py-32 lg:px-8 contact">
        <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80 z-[-1]">
            <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"></div>
        </div>

        <div id="contact" class="mx-auto max-w-2xl text-center">
            <h2 class="text-balance text-4xl font-semibold tracking-tight text-white sm:text-5xl">Contactez-moi</h2>
            <p class="mt-2 text-lg/8 text-gray-400">Texte à adapter si besoin.</p>
        </div>

        {% if form.message %}
            <div class="mt-6 text-green-500 text-center">{{ form.message }}</div>
        {% endif %}
        {% if form.errors %}
            <div class="mt-6 text-red-500 text-center">
                <ul>
                    {% for field, error in form.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% include "forms/form.html.twig" with { form: forms('contact-form') } %}
    </div>
</main>
{% endblock %}
