
{% extends 'partials/base.html.twig' %}

{% block main %}
    <main class="main-base">
        <section id="privacy-policy">
            {{ page.content|raw }}
        </section>
    </main>
{% endblock %}