{% set videos = (videos ?? [])|map(video => video|merge({
  date: video.date ? video.date|date("m / Y") : ''
})) %}
<div x-data='videoGallery({{ (videos ?? []) | json_encode | raw | escape }})' x-init="init()" class="p-6" :id="'gal-'+('{{ gid|default('') }}')">
    <div class="masonry">
      <template x-for="(video, index) in videos" :key="index">
        <div class="item relative">
          <img :src="Object.keys(video.thumb||{})[0]" :alt="video.title" class="cursor-pointer shadow hover:scale-105 transition-transform h-auto max-w-full" loading="lazy"/>
          <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50 text-white whitespace-normal p-[1rem] max-w-full opacity-0 hover:opacity-100 transition-opacity"
     x-html="`<span class='text-3xl tracking-[0.1em]'>${video.title}</span>${video.date ? `<span class='text-lg text-gray-300 mt-2'>${video.date}</span>` : ''}`"
     @click="openLightbox(index)">
          </div>

        </div>
      </template>
    </div>
  
    <template x-if="isOpen">
      <div class="lightbox fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-95 mt-0" @click="closeLightbox()">
        <div id="lightbox-video" class="relative w-full max-w-6xl mx-4 ml-16" @click.stop>
          <button @click="closeLightbox()" class="btn btn-sm btn-circle btn-ghost absolute top-4 right-4 text-white z-50" aria-label="Fermer la lightbox">✕</button>
          <video x-ref="videoPlayer" controls playsinline webkit-playsinline class="w-full max-h-fit bg-black">
            <template x-if="currentVideo.src_webm && Object.keys(currentVideo.src_webm).length">
              <source :src="Object.values(currentVideo.src_webm)[0]?.path" type="video/webm">
            </template>
            <template x-if="currentVideo.src_mp4 && Object.keys(currentVideo.src_mp4).length">
              <source :src="Object.values(currentVideo.src_mp4)[0]?.path" type="video/mp4">
            </template>
            Votre navigateur ne supporte pas la vidéo.
          </video>
        </div>
        <div id="lightbox-content" class="ml-[4rem] mr-[4rem] max-w-[20rem]">
          <p class="lightbox-title" x-text="currentVideo.title"></p>
          <p class="lightbox-date" x-text="currentVideo.date"></p>
          <p class="lightbox-desc" x-text="currentVideo.desc"></p>
        </div>
      </div>
    </template>
  </div>
  